
@{
    ViewData["Title"] = "About";
}
<link href="~/Styling/About.css" asp-append-version="true" rel="stylesheet" />


<div class="all">
    <div class="containerAbout">
        <h1 class="about">За нас</h1>
    </div>
    <div class="containerInfo">
        <p class="greet">Здравейте, и добре дошли в "Продай-купи",</p>
        <br />
        <p class="greet">Напълно безплатен сайт за обяви на покупка или продажба от всякакъв тип.</p>
        <br />
        <p class="greet">Ако имате запитвания или затруднения,</p>
        <br />
        <p class="greet">може да се свържите с нас на посочения e-mail адрес:</p>
        <p class="email">prodaibkupi@gmail.com</p>

    </div>
</div>

