
@{
    ViewData["Title"] = "NotFoundSearch";
}
    <link href="~/Styling/NotFoundPage.css" asp-append-version="true" rel="stylesheet" />
    <link href="~/Styling/HomeIndexStyle.css" asp-append-version="true" rel="stylesheet" />
    <div class="container">
        <h2 class="text">Няма намерени резултати</h2>
        <a class="goBack" asp-action="Index" asp-controller="Home">Обратно</a>
    </div>


